@model Test1001.Models.CovidDiagnosis

<h1>Covid-19 Advisory</h1>
<p>
    Name: @Model.Name
</p>
<p>
    Phone no: @Model.Phone
</p>
<p><b>Criteria:</b></p>
<p>
    Fever: @Model.Fever
</p>
<p>
    Dry Cough: @Model.Cough
</p>
<p>
    Breathing difficulty: @Model.Breath
</p>
<p>
    Person under investigation: @Model.Oversea
</p>
<p>
    Close contact: @Model.Contact
</p>
<p>
    Risk level: @Model.RiskLevel
</p>
<p>
    <b>What you should do:</b>
</p>
<p>@Model.Advisory</p>


